/* Общие стили */
body {
  font-family: "Microsoft YaHei", Arial, sans-serif;
  background-color: #f4f4f9;
  color: #222;
  line-height: 1.6;
}

/* Основной контейнер */
.content {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Навигация */
nav {
  display: flex;
  flex-wrap: wrap; /* Позволяет кнопкам переноситься на следующую строку при нехватке места */
  justify-content: center; /* Центрует кнопки */
  gap: 10px; /* Расстояние между кнопками */
  padding: 10px 20px;
  background-color: #68aac2;
  border-radius: 8px;
}

nav a,
nav button {
  flex: auto; /* Кнопки растягиваются для равномерного заполнения */
  max-width: 150px; /* Максимальная ширина кнопок */
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}


nav a:hover,
nav button:hover {
  text-decoration: underline;
}


/* Кнопки */
.button {
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.lighton {
  background: linear-gradient(to bottom, #fece34, #d8a605);
  border: 1px solid #d2a000;
}

.lightoff {
  background: linear-gradient(to bottom, #656565, #4a4a4a);
  border: 1px solid #333;
}

.huyanon {
  background: linear-gradient(to bottom, #90dfa2, #84d494);
  border: 1px solid #64c878;
}

/* Контент */
#content {
  padding: 20px;
  font-size: 18px;
}

/* Заголовки */
h1 {
  font-size: 24px;
  color: #68aac2;
}

/* Адаптивные стили */
@media (max-width: 768px) {
  nav a,
  nav button {
    max-width: 100%; /* Убираем фиксированную ширину на меньших экранах */
  }
  body {
    font-size: 14px;
  }
}

/* Стили для модального окна */
.modal-content {
  background-color: #fff; /* Белый фон модального окна */
  color: #333; /* Цвет текста */
}

.modal-header {
  background-color: #68aac2; /* Цвет фона заголовка */
  color: #fff; /* Цвет текста заголовка */
  border-bottom: 1px solid #ccc;
}

.modal-title {
  font-size: 18px;
  font-weight: bold;
}

.modal-body {
  color: #333; /* Цвет текста внутри модального окна */
}

.list-group-item {
  background-color: #fff;
  color: #333;
}

.list-group-item a {
  color: #0066cc;
  text-decoration: none;
}

.list-group-item a:hover {
  text-decoration: underline;
}
